<div class="py-10 lg:py-20 px-4 border-b border-grey-light mb-4 text-indigo-darker">
  <div class="container m-auto text-center">
    <h1 class="text-xl lg:text-3xl">欢迎来到会议预约系统</h1>
    <p class="lead my-2 max-w-md m-auto leading-normal text-grey-darker text-lg mb-4">最好用最便捷的会议预约系统，为你的工作助力.</p>

    <% unless user_signed_in? %>
    <%= link_to "注册", new_user_registration_path, class:"btn btn-primary my-3" %>
    <% else %>
    <%= link_to "马上创建", new_meeting_path, class:"btn btn-primary my-3" %>
    <% end %>
  </div>
</div>


<div class="max-w-lg m-auto">
  <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">

    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <h3 class="mb-1">加入我们</h3>
      <p class="leading-normal">欢迎来到会议室预约系统.</p>
    </div>

    <div class="lg:w-1/2 w-full text-center">
      <%= image_tag 'teacher.svg', alt: "Become a pro", width: 400 %>
    </div>
  </div>

<!--   <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <%= image_tag 'move-forward.svg', alt: "Move forward", width: 320 %>
    </div>

    <div class="lg:w-1/2 w-full">
      <h3 class="mb-1">马上体验</h3>
      <p class="leading-normal">成为会员吧.</p>
    </div>
  </div>
</div> -->
